.loaderContainerHide{
  display: none;
}

.loaderContainerShow{
  display:flex;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
}